---
import BaseLayout from "../Layout/BaseLayout.astro"
const title = "IDLES"
---


<BaseLayout title={title}>
  
  <p>Esta es una pagina creada por fans de la banda IDLES</p>
  <p>Si quieres saber mas sobre la banda visita su pagina oficial <a href="https://www.idlesband.com/">IDLES</a></p>
</BaseLayout>