---
import LoginForm from "@/components/LoginForm.astro";
import LoginLayout from "@/Layout/LoginLayout.astro";
import { SignIn, SignOut } from "auth-astro/components";
---

<LoginLayout title="Login">
  <div class="min-h-screen w-screen flex flex-col justify-center items-center">
    <div
      class="bg-white shadow-none sm:shadow-lg px-8 sm:px-12 w-full xs:w-full sm:w-8/12 md:w-7/12 lg:w-7/12 xl:w-2/6 h-screen sm:h-auto py-8"
    >
      <div class="text-center w-full font-bold text-3xl text-gray-600 p-4">
        LOGIN
      </div>
      <div class="w-full bg-gray-200 my-3" style="height: 1px"></div>
      <LoginForm />
      <slot />
    </div>
  </div>
</LoginLayout>
