<form method="POST">
  <div class="flex flex-col gap-4 px-0 py-4">
    <div class="mb-4">
      <label class="block text-black text-sm  mb-2" for="name"
        >Name</label
      >
      <input
        class="w-full px-3 py-2 border border-gray-300  focus:outline-none focus:border-black"
        type="text"
        id="name"
        name="name"
        placeholder="John Doe"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm  mb-2" for="email"
        >Email</label
      >
      <input
        class="w-full px-3 py-2 border border-gray-300  focus:outline-none focus:border-black"
        type="email"
        id="email"
        name="email"
        placeholder="john@example.com"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm  mb-2" for="password"
        >Password</label
      >
      <input
        class="w-full px-3 py-2 border border-gray-300  focus:outline-none focus:border-black"
        type="password"
        id="password"
        name="password"
        placeholder="********"
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm  mb-2"
        for="confirm-password">Confirm Password</label
      >
      <input
        class="w-full px-3 py-2 border border-gray-300  focus:outline-none focus:border-black"
        type="password"
        id="confirm-password"
        name="confirm-password"
        placeholder="********"
      />
    </div>
    <button
      class="w-full border border-black text-black text-sm  py-2 px-4  hover:bg-black hover:text-white transition duration-300"
      type="submit">Register</button
    >
  </div>
</form>
